nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #FFE600; /* amarillo ML */
}

.titulo-tienda {
  font-weight: bold;
  font-size: 30px;
}

.texto-total {
  font-weight: bold;
  font-size: 18px;
}

.btn-vaciar {
  background-color: rgb(22, 13, 186);
  border: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px; 
}

.btn-vaciar:hover, .btn-carro:hover {
  background-color: #333;
  transform: scale(1.05);
}

.btn-carro {
  background-color: rgb(22, 13, 186);
  border: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px; 
}


.card-body {
  background-color: #faf8fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 12px;
}


.card-title {
  color: darkblue;
  font-weight: bold;
  text-align: center; 
}

.card-text {
  font-size: 15px;
  color: gray;
  text-align: center;
}

.precio-text {
  font-weight: bold;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.btn-primary {
  background-color: rgb(244, 253, 5);
  border: none;
  color: black;
  
}